/* *{
    margin: 0;
    padding: 0;
}  */
body{
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
}
.praymary-color{
    color: #FD6E0A;
}
.praymary-btn{
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    padding: 15px 35px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 55px;
    font-weight: 800;
    font-weight: bold;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
   margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}
.header-bg{
    background-color: #FFF8F3;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
   
}
/* this is banner section */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner-content{
    max-width: 500px;
}
.banner-photo{
    width: 500px;
}
.banner-btn{
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 15px;
    
}
.banner-text{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
    color: #474747;

}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #181818;
}
.banner-para{
    margin-bottom: 51px;
    color: #757575;
}
.about-section{
    border-radius: 10px;
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px;
}
.about-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.about-pera{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    color: #757575;
    text-align: center;
    font-size: 20px;
}
.about-discription{
    padding: 30px 150px;
    color: #757575;
}
.skills-conteiner{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    gap: 24px;
}
.skill-discription{
    color:#757575;
}
.education-section-container{
    display: flex;
    justify-content: space-around;
    gap: 71px;
    margin-top: 113px;
    
}
.download-cv{
    text-align: center;
    margin-top: 55px;
}
.education-title{
    color: #474747;
    font-size: 25px;
    margin-top: 30px;
    
}
.univarsity{
    color:#757575;
    font-size: 20px;
    
    
}
.education-para{
    color:#757575;
    margin-bottom: 30px;

    font-size: 16px
    
}
    
    









  
    

